version: '2'
services:
  port_events:
    image: gfw/pipe-anchorages
    build: .
    entrypoint: ["python", "-m", "pipe_anchorages.port_events"]  
    volumes:
      - ".:/opt/project"
      - "gcp:/root/.config/"
  port_visits:
    image: gfw/pipe-anchorages
    build: .
    entrypoint: ["python", "-m", "pipe_anchorages.port_visits"]  
    volumes:
      - ".:/opt/project"
      - "gcp:/root/.config/"
  anchorages:
    image: gfw/pipe-anchorages
    build: .
    entrypoint: ["python", "-m", "pipe_anchorages.anchorages"]  
    volumes:
      - ".:/opt/project"
      - "gcp:/root/.config/"
  name_anchorages:
    image: gfw/pipe-anchorages
    build: .
    entrypoint: ["python", "-m", "pipe_anchorages.name_anchorages"]  
    volumes:
      - ".:/opt/project"
      - "gcp:/root/.config/"
  gcloud:
    image: gfw/pipe-anchorages
    build: .
    entrypoint: gcloud
    volumes:
      - "gcp:/root/.config/"
  test:
    entrypoint: ["py.test",  "test"]
    image: gfw/pipe-anchorages
    build: .
    volumes:
      - ".:/opt/project"
      - "gcp:/root/.config/"
volumes:
  gcp:
    external: True



