include LICENSE
include CHANGES.md
include MANIFEST.in
include README.md
include setup.py
include requirements-scheduler.txt
include requirements-worker.txt
recursive-include assets *
recursive-include pipe_anchorages/data *

